trigger:
- master

jobs:
- job: DeepSpeed
  timeoutInMinutes: 360
  pool:
    name: 'DS_testing'

  strategy:
    matrix:
      PyTorch12:
        python.version: '3.6'
        cuda.version: '10.0'
        pytorch.version: '1.2'
        runmodeltests: false
      PyTorch15:
        python.version: '3.7'
        cuda.version: '10.1'
        pytorch.version: '1.5'
        runmodeltests: true

  variables:
    conda_root: '/home/deepspeed/miniconda3'
    conda_env: 'ds_test_py$(python.version)_cuda$(cuda.version)_pytorch$(pytorch.version)'
    conda_env_path: '$(conda_root)/envs/$(conda_env)'

  steps:
    # Unfortunately nvidia's nvcc_linux-64=<version> seems to install 10.1 regardless?
    # Most of this complexity is a workaround to get the compiler toolchain to match the
    # cudatoolkit runtime
  - script: |
      conda create --force --yes -n $(conda_env) python=$(python.version) cudatoolkit=$(cuda.version)
      source $(conda_root)/bin/activate $(conda_root)/envs/$(conda_env)
      conda install --yes conda
      conda install --yes -c conda-forge cudatoolkit-dev=$(cuda.version)
      conda install --yes gxx_linux-64
      conda install --yes -c pytorch pytorch=$(pytorch.version) cudatoolkit=$(cuda.version)
    displayName: 'Setup environment python=$(python.version) pytorch=$(pytorch.version) cuda=$(cuda.version)'

  - script: |
      source $(conda_root)/bin/activate $(conda_env_path)
      pushd DeepSpeed
      git clone https://www.github.com/microsoft/DeepSpeed.git
      ./install.sh
      popd
    env:
      CUDA_HOME: $(conda_env_path)/pkgs/cudatoolkit-dev
    displayName: "Installing DeepSpeed"

  - script: |
      source $(conda_root)/bin/activate $(conda_root)/envs/$(conda_env)
      python -m pip install --upgrade pip
      pip install -r requirements.txt
    displayName: "Install requirements"

  - script: |
      source $(conda_root)/bin/activate $(conda_root)/envs/$(conda_env)
      nvcc --version
      python -c "import torch; print(torch.__version__)"
    displayName: 'Show environment'

  - script: |
      source $(conda_root)/bin/activate $(conda_root)/envs/$(conda_env)
      pip install pytest pytest-azurepipelines
      pytest test_adder.py
    displayName: 'Unit tests'

  - script: |
      echo "RUNNING MODEL TESTS"
    condition: eq(variables['runmodeltests'], true)
    displayName: "Model tests"